<nav class="navbar">
    <div class="navbar-container">
        <a href="/" class="navbar-logo">{{ .Site.Title }}</a>
        <ul class="navbar-menu">
            {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
            <li class="navbar-item dropdown">
                <a href="{{ .URL }}" class="navbar-link">{{ .Name }}</a>
                <ul class="dropdown-menu">
                    {{ range .Children }}
                    <li><a href="{{ .URL }}" class="dropdown-link">{{ .Name }}</a></li>
                    {{ end }}
                </ul>
            </li>
            {{ else }}
            <li class="navbar-item">
                <a href="{{ .URL }}" class="navbar-link">{{ .Name }}</a>
            </li>
            {{ end }}
            {{ end }}
        </ul>
    </div>
</nav>
